.main_header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #dcb666;
    font-size: 48px;
    padding: 20px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.fa-moon {
    font-style: normal;
    color: #f1c40f;
}

.fa-sun {
    font-style: normal;
    color: #f39c12;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

h1.dark,
body.dark,
footer.dark {
    background-color: #292c35;
}

body.dark h1,
body.dark,
.formsubmission .welcome-page,
#footercontent {
    color: #fff;
}

body {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    background-color: #F3E0C1;
}

.formsubmission,
.welcome-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 10px;
}

.formsubmission {
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
#form>label{
    margin-bottom: 10px;
}
#formtitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#bcontent{
   height: 500px;
   width: 100%;
   width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#submitbttn{
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.welcome-page {
    width: 50%;
    float: left;
    padding-left: 20px;
}

#welcometitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    padding-right: 10px;
}

#paragraph1,
#paragraph2 {
    padding-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#paragraph1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#background-image {
    display: flex;
    width: 100%;
    height: 600px;
    background-position: left;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

footer {
    background: #dcb666;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
    border-top: 2px solid black;
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}